<h3 mat-dialog-title>Article's Detail</h3>
<mat-dialog-content>

  <mat-label><strong>Code:</strong> {{article.code}} </mat-label>

  <br>

  <mat-label><strong>Description:</strong> {{article.description}} </mat-label>

  <br>

  <mat-label><strong>Price:</strong> {{article.retailPrice}} </mat-label>

  <br>

  <mat-label><strong>Reference:</strong> {{article.reference}} </mat-label>

  <br>

  <mat-label><strong>Provider:</strong> {{article.provider}} (Until Creation of Provider READ)</mat-label>

  <br>

  <mat-label><strong>Stock:</strong> {{article.stock}} </mat-label>

  <br>

  <mat-label><strong>Creation Date:</strong> {{article.registrationDate}} </mat-label>

  <br>
  <mat-label><strong>Tax:</strong> {{article.tax}} </mat-label>
  <br>
  <mat-chip *ngIf="article.discontinued" [color]="color" selected>
    Discontinued!
  </mat-chip>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-dialog-close mat-raised-button>Close</button>
</mat-dialog-actions>
