<h3 mat-dialog-title>Article</h3>
<mat-dialog-content>
  <mat-form-field>
    <input [(ngModel)]="newArticle.description" cdkFocusInitial matInput
           placeholder="Description"
           required type="String"/>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input [(ngModel)]="newArticle.retailPrice" cdkFocusInitial matInput
           placeholder="Price"
           required type="number"/>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input [(ngModel)]="newArticle.reference" matInput
           placeholder="Reference"
           required type="String"/>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input [(ngModel)]="newArticle.provider" matInput
           placeholder="Proveedor"
           required type="String"/>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input [(ngModel)]="newArticle.stock" cdkFocusInitial matInput
           placeholder="Stock"
           required type="number"/>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Tax</mat-label>
    <mat-select [(value)]="newArticle.tax" required type="number">
      <mat-option value="FREE">FREE</mat-option>
      <mat-option value="SUPER_REDUCED">SUPER_REDUCED</mat-option>
      <mat-option value="REDUCED">REDUCED</mat-option>
      <mat-option value="GENERAL">GENERAL</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-slide-toggle *ngIf="editMode" [(ngModel)]="newArticle.discontinued">Discontinued</mat-slide-toggle>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-dialog-close mat-raised-button>Close</button>
  <button (click)="createArticle()" *ngIf="editMode == false" color="primary" mat-raised-button>
    <mat-icon>local_offer</mat-icon>
    <span>Create Article</span>
  </button>
  <button (click)="updateArticle()" *ngIf="editMode" color="primary" mat-raised-button>
    <mat-icon>local_offer</mat-icon>
    <span>Save Changes</span>
  </button>
</mat-dialog-actions>
