<h3 mat-dialog-title>Consume Voucher</h3>
<mat-dialog-content>
  <mat-form-field>
    <form (ngSubmit)="consumeVoucher()" [formGroup]="consumeVoucherForm">
      <label>
        <input [(ngModel)]="voucher.id" [ngClass]="{ 'is-invalid': submitted && this.consumeVoucherForm.value.errors }" cdkFocusInitial class="form-control" formControlName="id"
               matInput placeholder="Voucher code"
               type="text"/>
        <div *ngIf="submitted && this.consumeVoucherForm.value.errors" class="invalid-feedback">
          <div *ngIf="this.consumeVoucherForm.value.errors.required">Voucher code is incorrect</div>
        </div>
      </label>
    </form>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>

  <button mat-dialog-close mat-raised-button>Close</button>

  <button (click)="consumeVoucher()" color="primary" mat-raised-button type="submit">
    <mat-icon>local_offer</mat-icon>
    <span>Consume voucher</span>
  </button>


</mat-dialog-actions>
