<h3 mat-dialog-title>Create Voucher</h3>
<mat-dialog-content>
  <mat-form-field>
    <form (ngSubmit)="createVoucher()" [formGroup]="createVoucherForm">
      <label>
        <input [(ngModel)]="newVoucher.value" [ngClass]="{ 'is-invalid': submitted && this.createVoucherForm.value.errors }" cdkFocusInitial class="form-control" formControlName="value"
               matInput placeholder="Value"
               type="number"/>
        <div *ngIf="submitted && this.createVoucherForm.value.errors" class="invalid-feedback">
          <div *ngIf="this.createVoucherForm.value.errors.required">Value should be major than 0 and minor than 1000
          </div>
        </div>
      </label>
    </form>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>

  <button mat-dialog-close mat-raised-button>Close</button>

  <button (click)="createVoucher()" color="primary" mat-raised-button type="submit">
    <mat-icon>local_offer</mat-icon>
    <span>Create voucher</span>
  </button>


</mat-dialog-actions>
