<h3 mat-dialog-title>Print Voucher</h3>
<mat-dialog-content>
  <h3>{{voucher.id}}</h3>
  <p>Creation Date: <strong>{{voucher.creationDate}}</strong>}</p>
  <p>Use Date: <strong>{{voucher.dateOfUse}}</strong></p>
  <p>Value (€): <strong>{{voucher.value}}</strong></p>
</mat-dialog-content>
<mat-dialog-actions>

  <button mat-dialog-close mat-raised-button>Close</button>

  <button (click)="printVoucher()" color="primary" mat-raised-button>
    <mat-icon>local_offer</mat-icon>
    <span>Print voucher</span>
  </button>


</mat-dialog-actions>
