<mat-card>
  <mat-card-title>Search</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input [(ngModel)]="searchVoucher.id" matInput placeholder="Id">
    </mat-form-field>
    <mat-form-field>
      <mat-label>First Date</mat-label>
      <input #firstDate="ngModel"
             [(ngModel)]="searchVoucher.firstDate"
             [matDatepicker]="firstDate"
             [max]="maxDate"
             [min]="minDate"
             matInput>
      <mat-datepicker #firstDate>
      </mat-datepicker>
    </mat-form-field>
    <mat-datepicker-toggle [for]="firstDate"></mat-datepicker-toggle>
    <mat-form-field>
      <mat-label>Final Date</mat-label>
      <input #finalDate="ngModel"
             [(ngModel)]="searchVoucher.finalDate"
             [matDatepicker]="finalDate"
             [max]="maxDate"
             [min]="minDate"
             matInput>
      <mat-datepicker #finalDate>
      </mat-datepicker>
    </mat-form-field>
    <mat-datepicker-toggle [for]="finalDate"></mat-datepicker-toggle>

    <button (click)="search()" color="primary" mat-mini-fab>
      <mat-icon>search</mat-icon>
    </button>
    <button (click)="resetSearch()" color="primary" mat-mini-fab>
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
<!-- Default: [createAction]="true" [readAction]="true" [updateAction]="true" [deleteAction]="true"-->
<app-crud (create)="create()" (delete)="delete($event)" (read)="read($event)"
          [columns]="columns" [data]="data" [title]="title" [updateAction]="false"></app-crud>
