<h3 mat-dialog-title>Create Voucher</h3>
<mat-dialog-content>
  <mat-form-field>
    <input [(ngModel)]="newVoucher.value" cdkFocusInitial matInput
           placeholder="Value"
           required type="number"/>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>

  <button mat-dialog-close mat-raised-button>Close</button>

  <button (click)="createVoucher()" color="primary" mat-raised-button>
    <mat-icon>local_offer</mat-icon>
    <span>Create voucher</span>
  </button>



</mat-dialog-actions>
