<h1>Articles family view</h1>
<mat-chip-list>
  <mat-chip class="chip-articles">Articles</mat-chip>
  <mat-chip class="chip-article">Article</mat-chip>
  <mat-chip class="chip-sizes">Sizes</mat-chip>
</mat-chip-list>
<div class="cards-container">
  <mat-card *ngFor="let articleElement of articlesFamilyList"
            [ngClass]="{'type-articles': articleElement.familyType === 'ARTICLES',
            'type-article': articleElement.familyType === 'ARTICLE',
            'type-sizes': articleElement.familyType === 'SIZES'}"
            class="article-family-view-card">

    <mat-card-title *ngIf="articleElement.id">{{articleElement.id}}</mat-card-title>
    <div *ngIf="articleElement.familyType">{{articleElement.familyType}}</div>
    <div *ngIf="articleElement.reference">{{articleElement.reference}}</div>
  </mat-card>
</div>
