<mat-card>
  <mat-card-title> Stock Alarm Detail</mat-card-title>
  <mat-card-content>
    <form [formGroup]="stockAlarmFrom">
      <div class="container">
        <div class="form-group input-margin">
          <mat-form-field >
            <input matInput type="text" formControlName="description"
                   placeholder="Description" required [readonly]="true"/>
          </mat-form-field>
        </div>
        <div class="form-group input-margin">
          <mat-form-field>
            <input matInput type="text" formControlName="provider"
                   placeholder="provider" [readonly]="true"/>
          </mat-form-field>
        </div>
      </div>
      <div class="container">
        <div class="form-group input-margin">
          <mat-form-field>
            <input matInput type="number" formControlName="warning"
                   placeholder="Warning" [readonly]="true"/>
          </mat-form-field>
        </div>
        <div class="form-group input-margin">
          <mat-form-field>
            <input matInput type="number" formControlName="critical"
                   placeholder="Critical" [readonly]="true"/>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<mat-card-content>
  <app-crud [data]="dataSource" [title]="title" [columns]="columns"
            [createAction]="false"
            [readAction]="false"
            [updateAction]="false"
            [deleteAction]="false">
  </app-crud>
</mat-card-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
