<mat-card>
  <mat-card-title> Stock Alarm Detail</mat-card-title>
  <mat-card-content>
    <form [formGroup]="stockAlarmFrom">
      <div class="container">
        <div class="form-group input-margin">
          <mat-form-field>
            <input [readonly]="true" formControlName="description" matInput
                   placeholder="Description" required type="text"/>
          </mat-form-field>
        </div>
        <div class="form-group input-margin">
          <mat-form-field>
            <input [readonly]="true" formControlName="provider" matInput
                   placeholder="provider" type="text"/>
          </mat-form-field>
        </div>
      </div>
      <div class="container">
        <div class="form-group input-margin">
          <mat-form-field>
            <input [readonly]="true" formControlName="warning" matInput
                   placeholder="Warning" type="number"/>
          </mat-form-field>
        </div>
        <div class="form-group input-margin">
          <mat-form-field>
            <input [readonly]="true" formControlName="critical" matInput
                   placeholder="Critical" type="number"/>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<mat-card-content>
  <app-crud [columns]="columns" [createAction]="false" [data]="dataSource"
            [deleteAction]="false"
            [readAction]="false"
            [title]="title"
            [updateAction]="false">
  </app-crud>
</mat-card-content>
<mat-dialog-actions>
  <button mat-dialog-close mat-raised-button>Cancel</button>
</mat-dialog-actions>
