<h2 mat-dialog-title >Create Stock Alarm </h2>
<form [formGroup]="stockAlarmFrom">
  <mat-dialog-content>
    <div class="form-group">
      <mat-form-field>
        <input matInput type="text" formControlName="id" placeholder="id"/>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput type="text" formControlName="Description" placeholder="Description" required/>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput type="text" formControlName="Article" placeholder="Article" required/>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput type="text" formControlName="provider" placeholder="provider" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput type="number" formControlName="warning" placeholder="Warning" required/>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput type="number" formControlName="critical" placeholder="Critical" required/>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close >Cancel</button>
    <button mat-raised-button [mat-dialog-close]="true" color="primary"
            (click)="update(stockAlarmFrom)">Create</button>
  </mat-dialog-actions>
</form>
