<h1>Advance articles search</h1>
<mat-card>
<mat-card-content>
  <mat-form-field>
    <input  matInput placeholder="Description">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Reference">
  </mat-form-field>
  <mat-form-field>
    <input  matInput placeholder="Stock">
  </mat-form-field>
  <mat-form-field>
    <input  matInput placeholder="Provider">
  </mat-form-field>
  <mat-form-field>
    <input  matInput placeholder="Retail Price">
  </mat-form-field>
  <mat-checkbox>Discontinued</mat-checkbox>

  <button (click)="search()" color="primary" mat-mini-fab>
    <mat-icon>search</mat-icon>
  </button>
  <button  color="primary" mat-mini-fab>
    <mat-icon>close</mat-icon>
  </button>
</mat-card-content>
</mat-card>

<app-crud [columns]="columns" [data]="data" [title]="title"></app-crud>
