<mat-toolbar color="primary">
  <img alt="miw" src="../../assets/img/miw.png"/>
  <span>TPV </span>
  <span class="backend"><small><small> Back-end: {{backend}}</small></small></span>
  <span class="toolbar-spacer"></span>
  <span>
    <app-date></app-date>
    <button (click)="logout()" mat-button>
      <span>{{username}}</span>
      <mat-icon>person</mat-icon>
      <span>Logout</span>
    </button>
    <button mat-button disabled="true" routerLink="">
      <mat-icon>account_box</mat-icon>
      <span>Profile</span>
    </button>
    <button [matMenuTriggerFor]="menu" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </span>
</mat-toolbar>
<mat-menu xPosition="before" #menu="matMenu">
  <button mat-menu-item (click)="cashier()">
    <mat-icon>home</mat-icon>
    <span>Cashier</span>
  </button>
  <button mat-menu-item *ngIf="isAdmin()" [matMenuTriggerFor]="settings">
    <mat-icon>settings</mat-icon>
    <span>Admin</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="cashiers">
    <mat-icon>account_balance</mat-icon>
    <span>Cashier closures</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="receipts">
    <mat-icon>receipt</mat-icon>
    <span>Receipt</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="products">
    <mat-icon>line_style</mat-icon>
    <span>Products</span>
  </button>
  <button mat-menu-item routerLink="/home/users">
    <mat-icon>account_circle</mat-icon>
    <span>Users</span>
  </button>
</mat-menu>
<mat-menu #settings="matMenu">
  <button mat-menu-item (click)="deleteDb()">
    <mat-icon>delete_sweep</mat-icon>
    <span>Delete Database</span>
  </button>
  <button mat-menu-item (click)="seedDb()">
    <mat-icon>unarchive</mat-icon>
    <span>Seed Database</span>
  </button>
</mat-menu>
<mat-menu #cashiers="matMenu">
  <button mat-menu-item *ngIf="!cashierClosed" (click)="closeCashier()">
    <mat-icon>lock_outline</mat-icon>
    <span>Close cashier</span>
  </button>
  <button mat-menu-item *ngIf="cashierClosed" (click)="openCashier()">
    <mat-icon>lock_open</mat-icon>
    <span>Open Cashier</span>
  </button>
  <button mat-menu-item *ngIf="!cashierClosed" disabled="true" routerLink="">
    <mat-icon>account_balance_wallet</mat-icon>
    <span>Cash Movement</span>
  </button>
  <button mat-menu-item disabled="true" routerLink="">
    <mat-icon>account_balance</mat-icon>
    <span>Cashier Closure</span>
  </button>
</mat-menu>
<mat-menu #receipts="matMenu">
  <button mat-menu-item *ngIf="!cashierClosed" disabled="true" routerLink="">
    <mat-icon>toc</mat-icon>
    <span>Tickets</span>
  </button>
  <button mat-menu-item disabled="true" routerLink="">
    <mat-icon>playlist_add_check</mat-icon>
    <span>Ticket tracking</span>
  </button>
  <button mat-menu-item disabled="true" routerLink="">
    <mat-icon>receipt</mat-icon>
    <span>Invoices</span>
  </button>
  <button mat-menu-item disabled="true" routerLink="">
    <mat-icon>description</mat-icon>
    <span>Budgets</span>
  </button>
  <button mat-menu-item disabled="true" routerLink="">
    <mat-icon>local_offer</mat-icon>
    <span>Vouchers</span>
  </button>
</mat-menu>
<mat-menu #products="matMenu">
  <button mat-menu-item disabled="true" routerLink="">
    <mat-icon>view_list</mat-icon>
    <span>Articles</span>
  </button>
  <button mat-menu-item disabled="true" routerLink="">
    <mat-icon>view_quilt</mat-icon>
    <span>Articles Family</span>
  </button>
  <button mat-menu-item disabled="true" routerLink="">
    <mat-icon>view_module</mat-icon>
    <span>Create Family sizes</span>
  </button>
  <button mat-menu-item disabled="true" routerLink="">
    <mat-icon>local_shipping</mat-icon>
    <span>Providers</span>
  </button>
  <button mat-menu-item *ngIf="isAdmin()||isManager()" disabled="true" routerLink="">
    <mat-icon>storage</mat-icon>
    <span>Orders</span>
  </button>
  <button mat-menu-item disabled="true" routerLink="">
    <mat-icon>view_comfy</mat-icon>
    <span>Tags</span>
  </button>
</mat-menu>

<router-outlet></router-outlet>
