<mat-toolbar color="primary">
  <img alt="miw" src="../../assets/img/miw.png"/>
  <span>TPV </span>
  <span class="backend"><small><small> Back-end: {{backend}}</small></small></span>
  <span class="toolbar-spacer"></span>
  <span>
    <app-date></app-date>
    <button (click)="logout()" mat-button>
      <span>{{username}}</span>
      <mat-icon>person</mat-icon>
      <span>Logout</span>
    </button>
    <button disabled="true" mat-button routerLink="">
      <mat-icon>account_box</mat-icon>
      <span>Profile</span>
    </button>
    <button [matMenuTriggerFor]="menu" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </span>
</mat-toolbar>
<mat-menu #menu="matMenu" xPosition="before">
  <button (click)="cashier()" mat-menu-item>
    <mat-icon>home</mat-icon>
    <span>Cashier</span>
  </button>
  <button *ngIf="isAdmin()" [matMenuTriggerFor]="settings" mat-menu-item>
    <mat-icon>settings</mat-icon>
    <span>Admin</span>
  </button>
  <button [matMenuTriggerFor]="cashiers" mat-menu-item>
    <mat-icon>account_balance</mat-icon>
    <span>Cashier closures</span>
  </button>
  <button [matMenuTriggerFor]="receipts" mat-menu-item>
    <mat-icon>receipt</mat-icon>
    <span>Receipt</span>
  </button>
  <button [matMenuTriggerFor]="products" mat-menu-item>
    <mat-icon>line_style</mat-icon>
    <span>Products</span>
  </button>
  <button [matMenuTriggerFor]="users" mat-menu-item>
    <mat-icon>people</mat-icon>
    <span>Staff & Customers</span>
  </button>
</mat-menu>
<mat-menu #settings="matMenu">
  <button (click)="deleteDb()" mat-menu-item>
    <mat-icon>delete_sweep</mat-icon>
    <span>Delete Database</span>
  </button>
  <button (click)="seedDb()" mat-menu-item>
    <mat-icon>unarchive</mat-icon>
    <span>Seed Database</span>
  </button>
</mat-menu>
<mat-menu #cashiers="matMenu">
  <button (click)="closeCashier()" *ngIf="!cashierClosed" mat-menu-item>
    <mat-icon>lock_outline</mat-icon>
    <span>Close cashier</span>
  </button>
  <button (click)="openCashier()" *ngIf="cashierClosed" mat-menu-item>
    <mat-icon>lock_open</mat-icon>
    <span>Open Cashier</span>
  </button>
  <button (click)="moveCash()" *ngIf="!cashierClosed" mat-menu-item>
    <mat-icon>account_balance_wallet</mat-icon>
    <span>Cash Movement</span>
  </button>
  <button mat-menu-item routerLink="/home/cashier-closure-search">
    <mat-icon>account_balance</mat-icon>
    <span>Cashier Closure</span>
  </button>
</mat-menu>
<mat-menu #receipts="matMenu">
  <button *ngIf="!cashierClosed" disabled="true" mat-menu-item routerLink="">
    <mat-icon>toc</mat-icon>
    <span>Tickets</span>
  </button>
  <button disabled="true" mat-menu-item routerLink="">
    <mat-icon>playlist_add_check</mat-icon>
    <span>Ticket tracking</span>
  </button>
  <button disabled="true" mat-menu-item routerLink="">
    <mat-icon>receipt</mat-icon>
    <span>Invoices</span>
  </button>
  <button disabled="true" mat-menu-item routerLink="">
    <mat-icon>description</mat-icon>
    <span>Budgets</span>
  </button>
  <button mat-menu-item routerLink="/home/vouchers">
    <mat-icon>local_offer</mat-icon>
    <span>Vouchers</span>
  </button>
</mat-menu>
<mat-menu #products="matMenu">
  <button mat-menu-item disabled="false" routerLink="/home/articles">
    <mat-icon>view_list</mat-icon>
    <span>Articles</span>
  </button>
  <button disabled="true" mat-menu-item routerLink="">
    <mat-icon>view_quilt</mat-icon>
    <span>Articles Family</span>
  </button>
  <button disabled="true" mat-menu-item routerLink="">
    <mat-icon>view_module</mat-icon>
    <span>Create Family sizes</span>
  </button>
  <button mat-menu-item routerLink="/home/providers">
    <mat-icon>local_shipping</mat-icon>
    <span>Providers</span>
  </button>
  <button *ngIf="isAdmin()||isManager()" mat-menu-item routerLink="/home/orders">
    <mat-icon>storage</mat-icon>
    <span>Orders</span>
  </button>
  <button disabled="true" mat-menu-item routerLink="">
    <mat-icon>view_comfy</mat-icon>
    <span>Tags</span>
  </button>
  <button disabled="true" mat-menu-item routerLink="">
    <mat-icon>local_atm</mat-icon>
    <span>Offers</span>
  </button>
  <!--Sendings-->
  <button mat-menu-item routerLink="/home/sendings">
    <mat-icon>speaker_notes</mat-icon>
    <span>Sendings</span>
  </button>
</mat-menu>
<mat-menu #users="matMenu">
  <button mat-menu-item routerLink="/home/users">
    <mat-icon>account_circle</mat-icon>
    <span>Users</span>
  </button>
  <button mat-menu-item routerLink="/home/customer-discount">
    <mat-icon>money_off</mat-icon>
    <span>Customer Discount</span>
  </button>
  <button mat-menu-item routerLink="/home/staff">
    <mat-icon>people</mat-icon>
    <span>Staff Attendance</span>
  </button>
</mat-menu>

<router-outlet></router-outlet>
