<h3 mat-dialog-title>Create Order</h3>
<mat-dialog-content>
  <mat-form-field>
    <input [(ngModel)]="order.description" cdkFocusInitial matInput
           placeholder="Description"
           required type="String"/>
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="order.providerId" matInput
           placeholder="Provider Id"
           required type="String"/>
  </mat-form-field>
  <mat-divider></mat-divider>
  <h4 mat-dialog-title>Add Article to Order</h4>
  <mat-form-field>
    <input [(ngModel)]="orderLine.articleId" matInput
           placeholder="Article Id"
           required type="String"/>
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="orderLine.requiredAmount" matInput
           placeholder="Required amount"
           required type="String"/>
  </mat-form-field>
  <button (click)="addOrderLine()" mat-raised-button>+</button>

  <app-crud (delete)="deleteOrderLine($event)" [columns]="columns" [createAction]="false" [data]="data"
            [deleteAction]="true" [readAction]="false" [title]="title" [updateAction]="false"></app-crud>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-dialog-close mat-raised-button>Close</button>
  <button (click)="createOrder()" color="primary" mat-raised-button>
    <mat-icon>local_offer</mat-icon>
    <span>Create Order</span>
  </button>
</mat-dialog-actions>
