<mat-card>
  <mat-card-title>Search</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input [(ngModel)]="order.description" matInput placeholder="Description">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="order.providerId" matInput placeholder="Provider Id">
    </mat-form-field>
    <button (click)="search()" color="primary" mat-mini-fab>
      <mat-icon>search</mat-icon>
    </button>
    <button (click)="resetSearch()" color="primary" mat-mini-fab>
      <mat-icon>close</mat-icon>
    </button>
    <br/>
    <mat-checkbox [(ngModel)]="pendingOrders">Pending Orders</mat-checkbox>
  </mat-card-content>
</mat-card>
<!-- Default: [createAction]="true" [readAction]="true" [updateAction]="true" [deleteAction]="true"-->
<app-crud (create)="create()" (delete)="delete($event)" (read)="read($event)"
          (update)="update($event)" [columns]="columns" [data]="data" [title]="title"></app-crud>
