<h3 mat-dialog-title>Add Order Line</h3>
<mat-dialog-content>
  <mat-form-field>
    <input [(ngModel)]="newOrderLine.articleId" cdkFocusInitial matInput
           placeholder="Article Id"
           required type="String"/>
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="newOrderLine.requiredAmount" matInput
           placeholder="Required amount"
           required type="String"/>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-dialog-close mat-raised-button>Close</button>
  <button (click)="addOrderLine()" color="primary" mat-raised-button>
    <mat-icon>local_offer</mat-icon>
    <span>Add article</span>
  </button>
</mat-dialog-actions>
